doctype html
html
    head
        meta(charset='utf-8')
        title= title
    body

        table
            tr
                th name
                th age
                th gender
                th weight
        each cat in cats
                tr
                    td= cat.name
                    td= cat.age
                    td= cat.gender
                    td= cat.weight
